html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #1e1e1e;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a2a2aa;
  padding: 1rem 2rem;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.logo {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 1.2rem;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0rem 5rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}

.full-width-background {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.full-width-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../asset/image/main.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

.hero {
  position: relative;
  text-align: center;
}

.hero-title {
  font-family: "Montserrat Subrayada", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2rem, 10vw, 120px);
  font-weight: 400;
  color: #fff;
}

section {
  text-align: center;
  padding: 0 5rem;
}

.about {
  padding-top: 30px;
  margin-top: 160px;
}

.about h2 {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 400;
  font-size: 80px;
}

.sinopsis h2 {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 400;
  font-size: 80px;
}

.about,
.sinopsis p {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
}

.movie {
  background-color: #212832;
  text-align: center;
  padding: 3rem 2rem;
  position: relative;
}

.hero-title {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: clamp(2rem, 10vw, 120px);
  color: #fff;
}

.container-section {
  background-color: #292929;
  padding: 3rem 2rem;
  text-align: center;
}

.about h2,
.sinopsis h2 {
  font-family: "Alumni Sans", sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about p,
.sinopsis p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.movie {
  background-color: #212832;
  text-align: center;
  padding: 3rem 2rem;
  position: relative;
}

.hero-title-movie {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: clamp(2rem, 10vw, 120px);
  color: #fff;
  margin-bottom: 2rem;
}

.video-container {
  position: relative;
  display: inline-block;
}

#video-placeholder {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#video-placeholder img {
  width: 320px;
  height: auto;
  display: block;
  border-radius: 10px;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: red;
  pointer-events: none;
}

footer {
  background-color: #111;
  text-align: center;
  padding: 1rem;
  color: #888;
  font-size: 0.9rem;
}

.member h2 {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 400;
  font-size: 80px;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.member-card {
  display: flex;
  background-color: #9d8c7a;
  color: white;
  padding: 16px;
  border-radius: 12px;
  align-items: center;
}
.member-card img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}
.member-info strong {
  display: block;
  font-size: 1rem;
  margin-bottom: 4px;
}

footer {
  font-family: "Montserrat", sans-serif;
  background-color: #111;
  text-align: center;
  padding: 1rem;
  color: #888;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 8vw;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 6vw;
  }
}
