@font-face {
    font-family: 'Montserrat Subrayada';
    font-style: normal;
    font-weight: 400; 
    src: url('MontserratSubrayada-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Montserrat Subrayada';
    font-style: normal;
    font-weight: 700; 
    src: url('MontserratSubrayada-Bold.woff') format('woff');
  }